#Extensions
*.aim
*.o
*.log
*.pdf
*.eps
*.png
*.gnp
*.pov
*.dat
*.cpx
*.cub
*.cube
*.tsv
cachegrind.*
*.gz
*.aux
*.bbl
*.toc
*.blg
*.out
*.bkp
*.user
*.x
*.a
*.mod

#binaries

#Trash and system files
*~
.DS_Store

#Directories
bin/*
bib/*
pres/*
taring/*
mathematica/*
discuss/*
proc/*
outputs/*
src/test/*
src/bin/*
tex/*.*
arts/*
#specific files

